# Introduction to Pandas

- python  library for data analysis.
- open source.
- used to read write manupulate and analyse data.
- contains functions that enables you to store , manupulate and retrive data.

- attaching labels to data.
- Work with missing data etc.

why pandas 
- helps to manupulate data in efficent manner.
- analyse large valoume of data with ease.

why pandas Is so popular 
- easy to read and learn.
- extermly fast and powerful.
- integrates well with other visulaization libraries.

# How to remove warning message / Ignore Warning messages

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Importing pandas library

In [2]:
import pandas

In [3]:
# or
import pandas as pd

# Series

- 1 dimentional labeled array that can hold any datatype.


- You can create a pandas series using array like object, a python dictionay and a scalar value.

In [4]:
#importing nesessary libaries
import pandas as pd
import numpy as np

# How to create an empty series

In [5]:
# creat an empty series
s = pd.Series()
print(s)
print(type(s))

Series([], dtype: float64)
<class 'pandas.core.series.Series'>

# How to create a series from ndarry

In [6]:
# create a series of ndarray
data = np.array(['a','b','c','d'])
print(data)
print(type(data))

['a' 'b' 'c' 'd']
<class 'numpy.ndarray'>

In [7]:
s = pd.Series(data)
print(s)
type(s)

0    a
1    b
2    c
3    d
dtype: object

pandas.core.series.Series

# How to  create a sereies of ndarrrays with index parameters

In [8]:
data

array(['a', 'b', 'c', 'd'], dtype='<U1')

In [9]:
# create a sereies of ndarrrays with index parameters
s = pd.Series(data,index=[100,101,102,103])
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [10]:
print(s)

100    a
101    b
102    c
103    d
dtype: object

In [11]:
s[100] = 'z'

# How to create a series from dictionary

In [12]:
# create a series from dictionary
data = { 'a':0,'b':1,'c':2}
print(data)

{'a': 0, 'b': 1, 'c': 2}

In [13]:
s = pd.Series(data)
print(s)

a    0
b    1
c    2
dtype: int64

In [14]:
s= pd.Series(data,index=['b','c','d','a'])
print(s)

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

# How to create a series from scalar

In [15]:
# create a series from scalar
s = pd.Series(5,index = [0,1,2,3])
print(s)

0    5
1    5
2    5
3    5
dtype: int64

# How to Acessing data from series with positions

In [16]:
# Acessing data from series with positions
s= pd.Series([1,2,3,4,5],index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [17]:
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [18]:
# retrive the first element
print(s[0])

1

In [19]:
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [20]:
#retrive the first three elements
print(s[:3])

a    1
b    2
c    3
dtype: int64

In [21]:
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [22]:
# retrive the last three elements
print(s[-3:])

c    3
d    4
e    5
dtype: int64

# How to retriving the data using label

In [23]:
# retriving the data single label(index)

s = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [24]:
# retrive a single element
print(s['a'])

1

In [25]:
# retriving non existing element
print(s['f'])

KeyError: 'f'

In [26]:
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [27]:
# retrive a multiple elements
print(s[['a','c','d']])

a    1
c    3
d    4
dtype: int64

# How to perfrom Various Operations on Pandas Series

In [28]:
se = pd.Series()
print(se)

Series([], dtype: float64)

In [29]:
print(" is the object empty ")
print(se.empty)

 is the object empty
True

In [30]:
import numpy as np

In [31]:
s2 = pd.Series(np.random.rand(4),index=[11,12,13,14])
print(s2)

11    0.672044
12    0.897056
13    0.950576
14    0.566078
dtype: float64

In [32]:
s2.axes?

In [33]:
print("The axes are: ")
print(s2.axes)

The axes are:
[Int64Index([11, 12, 13, 14], dtype='int64')]

# How to get dimension of series

In [34]:
s = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [35]:
print('print the dimension of the object')
print(s.ndim)

print the dimension of the object
1

# How to get Size (Number of elements in Series)

In [36]:
s = pd.Series([1,2,3,4,5], index=['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [37]:
print('print the size of object')
print(s.size)

print the size of object
5

# How to get Actual Values of seires

In [38]:
print ('the actula data series is :')
print(s.values)

the actula data series is :
[1 2 3 4 5]

# Getting top N elements of Series

In [39]:
print("Print the first two elemnts of the data series")
print(s.head(2))

Print the first two elemnts of the data series
a    1
b    2
dtype: int64

# Getting Last N elements of series

In [40]:
print("print the last two element of the data series")
print(s.tail(2))

print the last two element of the data series
d    4
e    5
dtype: int64

In [41]:
import pandas as pd
import numpy as np

# Data Frame

Dataframe is a 2 dimenitional labeled data structure with column that can hold any data type.

- calling a dataframe function and passing data.
- a python dictionary of one dimentional array, list , dictionary or series.
- a multidimentional numpy array.
- a series or another data frame.

# How to Create Empty DataFrame

In [42]:

# Create a empty dataframe
df = pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

# How to Create DataFrame Using List

In [43]:
# Create a dataframe using list
data = [11,12,13,14,15]
df = pd.DataFrame(data)
print(df)

    0
0  11
1  12
2  13
3  14
4  15

In [44]:
data = [['Alok',10],['Bhushan',12],['chitra',13]]
df = pd.DataFrame(data,columns=['Name','Age'])
print(df)

      Name  Age
0     Alok   10
1  Bhushan   12
2   chitra   13

In [45]:
df = pd.DataFrame(data,columns=['Name','Age'],
                  dtype = float)
print(df)

      Name   Age
0     Alok  10.0
1  Bhushan  12.0
2   chitra  13.0

# How to create DataFrame using Dictionary

In [46]:
#Creating dataframe using dictionary
data = {'Name':['Swapnil','Rahul','Viraj','Pranav'],
        'Age':[28,34,29,42]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0  Swapnil   28
1    Rahul   34
2    Viraj   29
3   Pranav   42

In [47]:
df = pd.DataFrame(data,
                  index=['rank1','rank2','rank3','rank4'])
print(df)

          Name  Age
rank1  Swapnil   28
rank2    Rahul   34
rank3    Viraj   29
rank4   Pranav   42

In [48]:
df = pd.DataFrame(data,
                  index=['rank1','rank2','rank3','rank4'],
                  columns=['Name','Age'])
print(df)

          Name  Age
rank1  Swapnil   28
rank2    Rahul   34
rank3    Viraj   29
rank4   Pranav   42

# How to Create DataFrame Using List of Dictionary

In [49]:
# create a data frame from the List of dicts
data = [{'a':1,'b':2},{'a':5,'b':10,'c':20}]
df = pd.DataFrame(data)
print(df)

   a   b     c
0  1   2   NaN
1  5  10  20.0

In [50]:
df = pd.DataFrame(data,index=['first','second'])
print(df)

        a   b     c
first   1   2   NaN
second  5  10  20.0

In [51]:
# with column indices , values same as dictonary keys
df1 = pd.DataFrame(data,index=['first','second'],
                   columns=['a','b'])
print(df1)

        a   b
first   1   2
second  5  10

In [52]:
# with two column indices with one index with other name
df2 = pd.DataFrame(data,index=['first','second'],
                   columns=['a','b1'])
print(df2)

        a  b1
first   1 NaN
second  5 NaN

# How to Create Data Frame From Dictionary of Series

In [53]:
# create a DataFrame from Dictionary of Series
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index = ['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

# How to select Column of a Data Frame

In [54]:
# column selection 
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index = ['a','b','c','d'])}
df = pd.DataFrame(d)
print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [55]:
df['one']

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

In [56]:
print(df['one'])

a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

# How to add Column to existing DataFrame

In [57]:
# column selection 
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index = ['a','b','c','d'])}

df = pd.DataFrame(d)

print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [58]:
# column adition
# adition of a new column to a existing data Frame object with column label by passing new series

print('adittion of a new column by adition of new Series:')

df['three'] = pd.Series([10,20,30],index=['a','b','c'])

print(df)

adittion of a new column by adition of new Series:
   one  two  three
a  1.0    1   10.0
b  2.0    2   20.0
c  3.0    3   30.0
d  NaN    4    NaN

# How to Delete Column from a DataFrame

In [59]:
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index = ['a','b','c','d'])}

df = pd.DataFrame(d)

print(df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [60]:
# column deletion 
# using del 
print('Deleting the forst column using Del ')
del df['one']
print (df)

Deleting the forst column using Del
   two
a    1
b    2
c    3
d    4

In [61]:
# using pop function 
print('Deleting another column using pop function:')
x = df.pop('two')
print(x)
print(df)

Deleting another column using pop function:
a    1
b    2
c    3
d    4
Name: two, dtype: int64
Empty DataFrame
Columns: []
Index: [a, b, c, d]

# How to select data Using labels from DataFrame

# select by indexs or column names (loc method)

In [62]:
d = {'one':pd.Series([1,2,3],index=['a','b','c']),
    'two':pd.Series([1,2,3,4],index = ['a','b','c','d'])}

df = pd.DataFrame(d)

print (df)

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

In [63]:
# selection by label
print (df.loc[['b','c','d']])

   one  two
b  2.0    2
c  3.0    3
d  NaN    4

# How to Select Subset of DataFame Using Positions
# select data by position then iloc method

In [64]:
# selection by integer location
print(df.iloc[[2,3]])

   one  two
c  3.0    3
d  NaN    4

# How to sclice Rows of DataFame

In [65]:
# slice rows
print(df[2:4])

   one  two
c  3.0    3
d  NaN    4

# How to Append DataFames

In [66]:
import pandas as pd
import numpy as np

In [67]:
# Adittion of Rows
df = pd.DataFrame([[1,2],[3,4]],columns = ['a','b'])
df2 = pd.DataFrame([[5,6],[7,8]],columns=['a','b'])

print (df)

   a  b
0  1  2
1  3  4

In [68]:
print(df2)

   a  b
0  5  6
1  7  8

In [69]:
df3 = df.append(df2)
print(df3)

   a  b
0  1  2
1  3  4
0  5  6
1  7  8

In [70]:
df4 = df.append(df2,ignore_index=True)
print(df4)

   a  b
0  1  2
1  3  4
2  5  6
3  7  8

# How to Drop a row of DataFame Using Lables

In [71]:
# drop rows with label 0
df = df.drop(0)
print(df)

   a  b
1  3  4

# Handling Missing Values in Data Frame

In [72]:
import pandas as pd
import numpy as np

In [73]:
# missing  Values
df = pd.DataFrame(np.random.rand(5,3),
                  index=['a','c','e','f','h'],
                  columns=['one','two','three'])

In [74]:
df

        one       two     three
a  0.669292  0.234523  0.503395
c  0.269431  0.238159  0.550116
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
h  0.578217  0.691835  0.765023

In [75]:
df = df.reindex(['a','b','c','d','e','f','g','h'])
print(df)

        one       two     three
a  0.669292  0.234523  0.503395
b       NaN       NaN       NaN
c  0.269431  0.238159  0.550116
d       NaN       NaN       NaN
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g       NaN       NaN       NaN
h  0.578217  0.691835  0.765023

In [76]:
# check for missing values
print(df.isnull())
# or
print(df.isna())

     one    two  three
a  False  False  False
b   True   True   True
c  False  False  False
d   True   True   True
e  False  False  False
f  False  False  False
g   True   True   True
h  False  False  False
     one    two  three
a  False  False  False
b   True   True   True
c  False  False  False
d   True   True   True
e  False  False  False
f  False  False  False
g   True   True   True
h  False  False  False

In [77]:
print(df['one'].isnull())

print(df.one.isna())

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool
a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool

In [78]:
print(df['one'].notnull())

a     True
b    False
c     True
d    False
e     True
f     True
g    False
h     True
Name: one, dtype: bool

In [79]:
print(df.loc['b'].isnull())

one      True
two      True
three    True
Name: b, dtype: bool

In [80]:
# calculation using missing data
# when summation data, Nan will be treated as Zero
print(df['one'].isnull().sum())

3

In [81]:
df_NAN=pd.DataFrame(index=[0,1,2,3,4,5],
                    columns=['one','two'])
print(df_NAN)

   one  two
0  NaN  NaN
1  NaN  NaN
2  NaN  NaN
3  NaN  NaN
4  NaN  NaN
5  NaN  NaN

In [82]:
print(df_NAN['one'].isnull().sum())

6

# How to Replace NaN values with a Scalar Value

In [83]:
df

        one       two     three
a  0.669292  0.234523  0.503395
b       NaN       NaN       NaN
c  0.269431  0.238159  0.550116
d       NaN       NaN       NaN
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g       NaN       NaN       NaN
h  0.578217  0.691835  0.765023

In [84]:
# Replace nan with sclar values
print("NaN replaced with zeros :")
print(df.fillna(0))
df1 = df.fillna(0)

NaN replaced with zeros :
        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
d  0.000000  0.000000  0.000000
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g  0.000000  0.000000  0.000000
h  0.578217  0.691835  0.765023

In [85]:
df1

        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
d  0.000000  0.000000  0.000000
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g  0.000000  0.000000  0.000000
h  0.578217  0.691835  0.765023

In [86]:
print(df['one'].fillna(0))

a    0.669292
b    0.000000
c    0.269431
d    0.000000
e    0.502515
f    0.893343
g    0.000000
h    0.578217
Name: one, dtype: float64

In [87]:
df

        one       two     three
a  0.669292  0.234523  0.503395
b       NaN       NaN       NaN
c  0.269431  0.238159  0.550116
d       NaN       NaN       NaN
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g       NaN       NaN       NaN
h  0.578217  0.691835  0.765023

In [88]:
print(df.loc['b'].fillna(0,inplace = True))

None

In [89]:
# Fill NaN Forward and Backward
print(df)

        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
d       NaN       NaN       NaN
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g       NaN       NaN       NaN
h  0.578217  0.691835  0.765023

In [90]:
print(df.fillna(method='pad'))

        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
d  0.269431  0.238159  0.550116
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g  0.893343  0.700450  0.429454
h  0.578217  0.691835  0.765023

In [91]:
print(df.fillna(method='backfill'))

        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
d  0.502515  0.699429  0.564419
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g  0.578217  0.691835  0.765023
h  0.578217  0.691835  0.765023

In [92]:
print(df.fillna(df.mean()))

        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
d  0.485466  0.427399  0.468735
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g  0.485466  0.427399  0.468735
h  0.578217  0.691835  0.765023

# Droping missing Values

In [93]:
df

        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
d       NaN       NaN       NaN
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g       NaN       NaN       NaN
h  0.578217  0.691835  0.765023

In [94]:
print(df.dropna())

        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
h  0.578217  0.691835  0.765023

# How to Drop Missing Values along the rows 
# Rowwise (Virtically)

In [95]:
df

        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
d       NaN       NaN       NaN
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
g       NaN       NaN       NaN
h  0.578217  0.691835  0.765023

In [96]:

print(df.dropna(axis=0))

        one       two     three
a  0.669292  0.234523  0.503395
b  0.000000  0.000000  0.000000
c  0.269431  0.238159  0.550116
e  0.502515  0.699429  0.564419
f  0.893343  0.700450  0.429454
h  0.578217  0.691835  0.765023

# How to drop Missing Values along the columns
# Column Wise horizontally

In [97]:
print(df.dropna(axis=1))

Empty DataFrame
Columns: []
Index: [a, b, c, d, e, f, g, h]

# Replacing missing values or generic values

In [98]:
# Replacing missing values or generic values
df = pd.DataFrame({'one':[10,20,30,40,50,2000],
'two':[1000,0,30,40,50,60]})
print(df)

    one   two
0    10  1000
1    20     0
2    30    30
3    40    40
4    50    50
5  2000    60

In [99]:
print(df.replace({1000:10,2000:60}))

   one  two
0   10   10
1   20    0
2   30   30
3   40   40
4   50   50
5   60   60

# DataFrame Operations

In [100]:
# data frame operations
d = {'Name':pd.Series(['Parnay','Swapnil','Ayush','Viraj',
                       'Bhushan','Ashwin','Vishal']),
    'Age':pd.Series([25,26,25,23,30,29,23]),
    'Rating':pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}

In [101]:
# creating a data Frame
df = pd.DataFrame(d,columns=['Name','Age',"Rating"])
print(df)

      Name  Age  Rating
0   Parnay   25    4.23
1  Swapnil   26    3.24
2    Ayush   25    3.98
3    Viraj   23    2.56
4  Bhushan   30    3.20
5   Ashwin   29    4.60
6   Vishal   23    3.80

# Tansposing a DataFrame

In [102]:
print('The transpose of the data frame is : ')
print(df.T)

The transpose of the data frame is :
             0        1      2      3        4       5       6
Name    Parnay  Swapnil  Ayush  Viraj  Bhushan  Ashwin  Vishal
Age         25       26     25     23       30      29      23
Rating    4.23     3.24   3.98   2.56      3.2     4.6     3.8

# Getting axes of DataFrame

In [103]:
print ('the row axis label and the column axis label of the data frame is: ')
print(df.axes)

the row axis label and the column axis label of the data frame is:
[RangeIndex(start=0, stop=7, step=1), Index(['Name', 'Age', 'Rating'], dtype='object')]

# Getting DataType of Each column of DataFrame

In [104]:
print("the data type of each column are")
print(df.dtypes)

the data type of each column are
Name       object
Age         int64
Rating    float64
dtype: object

# How to get Dimension of DataFrame

In [105]:
print ("the dimension of the object is")
print(df.ndim)

the dimension of the object is
2

# How to get Shape of DataFrame
# Number of each dimension of DataFrame

In [106]:
print("the shape of the object is : ")
print(df.shape)

the shape of the object is :
(7, 3)

# How to get Number of elements Present in DataFrame

In [107]:
print("The number of elements in our object is : ")
print(df.size)

The number of elements in our object is :
21

# How to Get Actual Values Present Inside DataFame

In [108]:
print("the actual data in our data frame is :")
print(df.values)

the actual data in our data frame is :
[['Parnay' 25 4.23]
 ['Swapnil' 26 3.24]
 ['Ayush' 25 3.98]
 ['Viraj' 23 2.56]
 ['Bhushan' 30 3.2]
 ['Ashwin' 29 4.6]
 ['Vishal' 23 3.8]]

# Acessing First N rows of DataFrame

In [109]:
print("the first two rows of thr dataframe are:")
print(df.head(2))

the first two rows of thr dataframe are:
      Name  Age  Rating
0   Parnay   25    4.23
1  Swapnil   26    3.24

# Accesing Last N rows of DataFrame

In [110]:
print("the last two rows of the data frame are: ")
print(df.tail(2))

the last two rows of the data frame are:
     Name  Age  Rating
5  Ashwin   29     4.6
6  Vishal   23     3.8

# How to Rename Columns of DataFrame

In [111]:
df

      Name  Age  Rating
0   Parnay   25    4.23
1  Swapnil   26    3.24
2    Ayush   25    3.98
3    Viraj   23    2.56
4  Bhushan   30    3.20
5   Ashwin   29    4.60
6   Vishal   23    3.80

In [112]:
df.rename(columns={'Name':'Student Name',
                  'Rating':'Grades'})

  Student Name  Age  Grades
0       Parnay   25    4.23
1      Swapnil   26    3.24
2        Ayush   25    3.98
3        Viraj   23    2.56
4      Bhushan   30    3.20
5       Ashwin   29    4.60
6       Vishal   23    3.80